p{
    color:lightcoral;
    font-weight: normal; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-stretch: semi-expanded;
    background-color: blanchedalmond;
}

#p1{
    color:fuchsia;
}

#p2{
    color: lightpink;
}

h3{
    color: indianred;
    opacity: 0.3;
}

h5{
    color: goldenrod;
}

.yellow{
    background-color: yellow;
}

.bigfont{
    font-size: 20px;
}